// reset
:root{
    --main-blue-color: #a9bece;
    --orange-color: #d2691e;
    --black: #000000;
    --white: #ffffff;
    --hover-color: #9ca4a7;
    
}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing:inherit;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    
}
img{
    display:block;
    // width: 100%;
    // max-width: 100%;
    height: auto;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.link{
    text-decoration: none;
    color:inherit;
}
html,
body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-flow: column ;
}
main{
    flex: 1 1 auto;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}
body{
   
    color: var(--black);

    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    font-family: Montserrat, sans-serif;
}
// ---------------

// ----------------header-------------

header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background-color:var(--main-blue-color);
    box-shadow: 9px 5px 5px grey;
    color: var(--white);
}
.header {
   
    &.link{
        // font-size: 32px;
        // font-weight: 700;
        // padding: 24px 0;
    }


	&__body {
            display: flex;
            align-items: center;
        
        }
    &__logo {
           margin-right: 150px;
		}

	&__tel{
        padding: 35px 0;
        font-size: 26px;
        font-weight: 700;
        color: var(--orange-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    &__tel:hover,
    &__tel:focus{
        color: var(--hover-color);
        text-decoration: underline;
    }
    &__tel.main{
            margin-left: auto;
    }
	&__tel.mobile {
            display: none;
	}
}
.logo {
     width: 150px;
    height: 100px;
    padding: 24px 0;
    border-radius: 50%;
  
}
.mobile {
}
.menu {

		&__list {
            display: flex;
		}

		&__item + &__item {
            margin-left: 25px;
		}

		&__link  {
            padding: 35px 0;
            font-size: 18px;
            font-weight: 700;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
        &__link:hover,
        &__link:focus{
            color : var(--hover-color);
            text-decoration: underline;
        }
}
// --------hero---------------------

.section {
}
.hero {
    position: relative;

    padding-top: 100px ;
    padding-bottom: 100px ;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: top;
    min-height: 850px;

		&__content {
            display: flex;
            justify-content: space-between;
		}

		&__left {
		}
}
.left-hero {
    padding: 80px 0;

		&__tittle {
            font-size: 48px;
            max-width: 700px;
            color: white;
            margin-bottom: 30px;
    
        }

		&__list {
		}

		&__item {
            font-size: 24px;
            font-weight: 500;
            color: var(--white);
            vertical-align:baseline;
            position: relative;
            padding-left: 50px;
            line-height: 2;
            
            
        }
        &__item:before{
            content: '';
            position: absolute;
            display: inline-block;
            padding-right: 10px;
            top: 0;
            left: 0;
            background: url(../icons/галочки/галочка.png);
            width: 40px;
            height: 40px;
            background-repeat:no-repeat;
            background-size: cover;
            background-position: center;


        }
}
.list {
}
.item {
}
.contact {

		&__form {
            padding: 100px 0;
        }
        &__input-name{
            display: block;
            width: 200px;
            height: 50px;
            margin-bottom: 15px;
            border:2px solid chocolate;
            border-radius: 10px;
            box-shadow: 5px 5px 9px grey;
            font-size: 22px;
            outline: 2px solid transparent;
            outline-offset: -2px;
            padding-left: 15px;
        }
        &__input-name:focus{
            border:4px solid chocolate;
        }
		&__input-tel {
             display: block;
            width: 200px;
            height: 50px;
            margin-bottom: 15px;
            border:2px solid chocolate;
            border-radius: 10px;
            box-shadow: 5px 5px 9px grey;
            font-size: 22px;
            outline: 2px solid transparent;
            outline-offset: -2px;
            padding-left: 15px;
            
		}
        &__input-tel:focus{
            border:4px solid chocolate;
            
        }

		&__button {
            display: inline-block;
            min-width: 210px;
            padding: 15px 15px;
            background-color:chocolate;
            border:none;
            border-radius: 10px;
            box-shadow: 5px 5px 9px grey;
            font-size: 20px;
            color: white;
            cursor: pointer;
            font-weight: 500;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
        &__button:hover,
        &__button:focus{
            background-color: var(--main-blue-color);
            color: var(--orange-color);
            font-weight: 500;
        }
}
// -------------warning-------------------

.warning {
    position: absolute;
    top: 80%;
    left: 20%;


		&__tittle {
          
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
    max-width: 700px;
    color: var(--white);
    margin-bottom: 40px;
    text-shadow: 0px 2px 2px black;
		}

		&__content {
            display: flex;
            justify-content: space-between;
		}

		&__lastimg {
		}
}
.container {
}
.content {

		&__item {
            width: 320px;
		}
}
.list {
}
.item {
}
.image{
    max-width: 100%;
    object-fit: cover;
}
.img {


	&__container {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;

		}
}
.connent {

		&__subtittle {
            font-size: 18px;
            margin-bottom: 15px;
            color:red;

		}

		&__text {
            font-style: 16px;
		}
}
// -----------technique--------------

.technique {
    padding-top: 240px;
    padding-bottom: 90px;

		&__tittle {
            text-align: center;
            // padding: 15px 0;
            font-family: "Bitter";
            font-size: 32px;
            color:#a9bece;
            margin-bottom: 40px;
            text-shadow: 1px 1px 1px black ;
		}

		&__wrapper {
		}

		&__list {
            display: flex;
            justify-content: space-between;
		}

		&__item {
		}

		&__link img {
            display: block;
            height: 300px;
            margin-bottom: 30px;

		}
        &__subtittle{
            text-align: center;
    font-family: "Bitter";
    font-size: 18px;
    background-color:#a9bece;
    padding: 10px 0;
    text-shadow: 1px 1px 1px var(--white);

        }
}
.container {
}
.subtittle {
}

// -------------work----------------

.work {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;

     background: linear-gradient(45deg, rgb(188, 192, 193) 22%, rgb(110, 187, 247), rgb(148, 150, 139));
    text-align: center;

	&__tittle {
        font-family: "Bitter" ;
        text-align: center;
        color: white;
        font-size: 36px;
        margin-bottom: 30px;
		}
    &__text{
         font-family: "Bitter" ;
         font-weight: 600;
         max-width: 800px;
         margin: 0 auto;
         text-align: center;
         font-size: 18px;
         line-height: 1.4;
          margin-bottom: 60px;

    }
}
.container {
}
.work-list {
    display: flex;
    gap: 30px;

		&__item {
		}

		&__text {
            font-family: "Bitter" ;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.4;
		}
}
.list {
}
.item {
}
.cards {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
// --------brands----------
.brands {
    padding-top: 90px;
    padding-bottom: 90px;
    &__list{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap: 30px;

    }
    &__item{
        width: 140px;

    }
    &__item img{
        width: 140px;
        height: 80px;
    }
}
.tittle {
     text-align: center;
      font-family: "Bitter" ;
       text-shadow: 1px 1px 1px black ;
    color: var(--orange-color);
    padding: 50px 0px 0px 0px;
    line-height: 1.2;
    font-size: 36px;
    margin-bottom: 100px;
}

.item {
}
// -------prices---------
.prices-waching {
    padding-top: 90px;
    padding-bottom: 90px;
    &__container{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__description{
        margin: 0 auto;
        font-size: 18px;
        color: var(--black);
        line-height: 1.3;
    }

}
.prices {
    

	&__tittle {
           
        font-size: 32px;
        max-width: 700px;
        color: var(--main-blue-color);
        margin-bottom: 40px;
        text-shadow: 0px 2px 2px black;

		}
    &__tittle.dry{
        color: var(--orange-color);
    }
    &__text.dry{
        color: var(--main-blue-color);
    }

		&__text {
            font-size: 18px;
            font-weight: 600;
            color: var(--orange-color);
            margin-bottom: 30px;
            text-decoration: underline;
        }
        &__text span{
            text-transform: uppercase;
            color: rgb(239, 21, 21);
            font-weight: 700;
        }

		&__list {
            width: 550px;
            height: auto;
            border-radius: 10px;
            background-color:rgba(0, 0, 0, 0.1);
            padding: 20px;
		}
        &__item + &__item{
            margin-top: 20px;
        }
        &__item:nth-child(2n){
            background-color:rgba(0, 0, 0, 0.4);
        }
		&__item {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            font-size: 16px;
		}

		&__name {
		}

		&__amount {
		}
}
.wrapper__second{
    margin-bottom: 80px;
}

// ------------company--------------

.company {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--hover-color);

		&__tittle {
            font-size: 28px;
            color: var(--orange-color);
            text-shadow: 0px 1px 1px white;
            margin-bottom: 40px;
		}

		&__text {
            padding: 20px;
          font-size: 18px;
          line-height: 1.4;
          color: var(--white);
        }

		&__description {
            padding: 20px;
             font-size: 18px;
          line-height: 1.4;
          color: var(--white);
		}
    &__content{
        display: flex;
        gap: 40px;
    }
    &__img{
        display: block;
        border-radius: 5px;
        
    }
}


