// reset
// mixin
@mixin mq($type) {
  $mobile: 480px;
  $tablet: 768px;
  $desktop: 1200px;

  // mobile from 480 & > infinite
  @if ($type == mobile) {
    @media screen and (min-width: $mobile) {
      @content;
    }
  }
  // mobile to 768 & <
  @if ($type == mobile-only) {
    @media screen and (max-width: #{$tablet - 0.02}) {
      @content;
    }
  }
  // tablet from 768 & > infinite
  @if ($type == tablet) {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }
  // tablet form 768 to 1200
  @if ($type == tablet-only) {
    @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
      @content;
    }
  }
  // desktop from 1200 & > infinite
  @if ($type == desktop) {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}
// mixin finished
:root{
    --main-blue-color:#7ca5f2;
    --orange-color: #ff9c19;
    --black: #000000;
    --white: #ffffff;
    --hover-color: #9ca4a7;
    
}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing:inherit;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    
}
img{
    display:block;
    // width: 100%;
    // max-width: 100%;
    height: auto;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
}
html,
body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-flow: column ;
}
main{
    flex: 1 1 auto;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}
body{
   
    color: var(--black);

    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    font-family: Montserrat, sans-serif;
}
// ---------------

// ----------------header-------------

header{
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    background-color:var(--main-blue-color);
    box-shadow: 9px 5px 5px grey;
    color: var(--white);
}
.header {
   


	&__body {
            display: flex;
            align-items: center;
        
        }
    &__logo {
           margin-right: 150px;
		}

	&__tel{
        padding: 35px 0;
        font-size: 26px;
        font-weight: 700;
        color: var(--orange-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    &__tel:hover,
    &__tel:focus{
        color: var(--hover-color);
        text-decoration: underline;
    }
    &__tel.main{
            margin-left: auto;
    }
	&__tel.mobile {
            display: none;
	}
}
.logo {
     width: 150px;
    height: 100px;
    padding: 24px 0;
    border-radius: 50%;
  
}
.mobile {
}
.menu {

		&__list {
            display: flex;
		}

		&__item + &__item {
            margin-left: 25px;
		}

		&__link  {
            padding: 39px 0;
            font-size: 18px;
            font-weight: 700;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
        &__link:hover,
        &__link:focus{
            color : var(--hover-color);
            text-decoration: underline;
        }
}

// header mobile menu
.svg-open {
  display: flex;
  width: 32px;
  height: 32px;
  fill: black;
}
.menu-close__svg{
    width: 32px;
  height: 32px;

}
.button__open{
    display: block;
    @include mq(desktop){
        display: none;
    }
}

// mob-menu
.no-scroll {
  overflow: hidden;
}
    // .button-open {

    //   border: none;
    //   margin-left: auto;
    //   display: none;

    //   @include mq(desktop) {
    //     display: none;
    //   }
    // }

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: var(--main-blue-color);
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 36px;
  }

  &__logo {
    padding: 12px 0;
  }

  &__content {
    padding-top: 51px;
    padding-bottom: 64px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__navigation {
    @include mq(mobile-only) {
      margin-bottom: auto;
    }
  }

  &__item {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.21;
    color: var(--text-color-white);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--text-color-black);
    }
  }

  &__button {
    max-width: 152px;
    @include mq(tablet-only) {
      display: none;
    }
  }
}

.menu-close {
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: block;
  padding: 16px 0;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-hidden {
  transform: translateX(-100%);
}
// mobile menu finished

// --------hero---------------------

.section {
}
.hero {
    position: relative;

    padding-top: 100px ;
    padding-bottom: 100px ;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: top;
    min-height: 850px;

		&__content {
            display: flex;
            justify-content: space-between;
		}
    &__phone{
      position: fixed;
      z-index: 10000;
      right: 60px;
      bottom: 18px;
      border-radius: 50%;
      box-shadow: 2px 2px 4px rgb(248, 184, 7);
    }
		&__left {
		}
}
.left-hero {
    padding: 80px 0;

		&__tittle {
            font-size: 48px;
            max-width: 700px;
            color: white;
            margin-bottom: 30px;
    
        }

		&__list {
		}

		&__item {
            font-size: 24px;
            font-weight: 500;
            color: var(--white);
            vertical-align:baseline;
            position: relative;
            padding-left: 50px;
            line-height: 2;
            
            
        }
        &__item:before{
            content: '';
            position: absolute;
            display: inline-block;
            padding-right: 10px;
            top: 0;
            left: 0;
            background: url(../icons/галочки/галочка.png);
            width: 40px;
            height: 40px;
            background-repeat:no-repeat;
            background-size: cover;
            background-position: center;


        }
}
.list {
}
.item {
}
.contact {

		&__form {
            padding: 100px 0;
        }
        &__input-name{
            display: block;
            width: 200px;
            height: 50px;
            margin-bottom: 15px;
            border:2px solid chocolate;
            border-radius: 10px;
            box-shadow: 5px 5px 9px grey;
            font-size: 22px;
            outline: 2px solid transparent;
            outline-offset: -2px;
            padding-left: 15px;
        }
        &__input-name:focus{
            border:4px solid chocolate;
        }
		&__input-tel {
             display: block;
            width: 200px;
            height: 50px;
            margin-bottom: 15px;
            border:2px solid chocolate;
            border-radius: 10px;
            box-shadow: 5px 5px 9px grey;
            font-size: 22px;
            outline: 2px solid transparent;
            outline-offset: -2px;
            padding-left: 15px;
            
		}
        &__input-tel:focus{
            border:4px solid chocolate;
            
        }

		&__button {
            display: inline-block;
            min-width: 210px;
            padding: 15px 15px;
            background-color:chocolate;
            border:none;
            border-radius: 10px;
            box-shadow: 5px 5px 9px grey;
            font-size: 20px;
            color: white;
            cursor: pointer;
            font-weight: 500;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
        &__button:hover,
        &__button:focus{
            background-color: var(--main-blue-color);
            color: var(--orange-color);
            font-weight: 500;
        }
}
// -------------warning-------------------

.warning {
    position: absolute;
    top: 80%;
    left: 20%;


		&__tittle {
          
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
    max-width: 700px;
    color: var(--white);
    margin-bottom: 40px;
    text-shadow: 0px 2px 2px black;
		}

		&__content {
            display: flex;
            justify-content: space-between;
		}

		&__lastimg {
		}
}
.container {
}
.content {

		&__item {
            width: 320px;
		}
}
.list {
}
.item {
}
.image{
    max-width: 100%;
    object-fit: cover;
}
.img {


	&__container {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;

		}
}
.connent {

		&__subtittle {
            font-size: 18px;
            margin-bottom: 15px;
            color:red;

		}

		&__text {
            font-style: 16px;
		}
}
// -----------technique--------------

.technique {
    padding-top: 240px;
    padding-bottom: 90px;

		&__tittle {
            text-align: center;
           
            font-family: "Bitter";
            font-size: 32px;
            color:#a9bece;
            margin-bottom: 40px;
            text-shadow: 1px 1px 1px black ;
		}
    &__card{
          position: absolute;
          transform:translateY(100%);
          font-size: 24px;
          font-weight: 700;
          padding: 120px 10px;
          text-shadow: 1px 1px 1px white ;
          

          
          top: 0%;
          left: 0;
          width: 100%;
          height: 100%;
          background-color:rgba(110, 187, 247, 0.8);
          transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

        }

		&__wrapper {
		}

		&__list {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
		}

		&__item {
		}
    &__link{
      position: relative;
      
    }
    &__link:hover .technique__card{
       transform:translateY(0%);
       opacity: 1;

    }

		&__link img {
            display: block;
            height: 300px;
            margin-bottom: 30px;

		}
        &__subtittle{
            text-align: center;
    font-family: "Bitter";
    font-size: 18px;
    background-color:#a9bece;
    padding: 10px 0;
    text-shadow: 1px 1px 1px var(--white);

        }
        
}
.container {
}
.subtittle {
}

// -------------work----------------

.work {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;

     background: linear-gradient(45deg, rgb(188, 192, 193) 22%, rgb(110, 187, 247), rgb(148, 150, 139));
    text-align: center;

	&__tittle {
        font-family: "Bitter" ;
        text-align: center;
        color: white;
        font-size: 36px;
        margin-bottom: 30px;
		}
    &__text{
         font-family: "Bitter" ;
         font-weight: 600;
         max-width: 800px;
         margin: 0 auto;
         text-align: center;
         font-size: 18px;
         line-height: 1.4;
          margin-bottom: 60px;

    }
}
.container {
}
.work-list {
    display: flex;
    gap: 30px;

		&__item {
		}

		&__text {
            font-family: "Bitter" ;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.4;
		}
}
.list {
}
.item {
}
.cards {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
// --------brands----------
.brands {
    padding-top: 90px;
    padding-bottom: 90px;
    &__list{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap: 30px;

    }
    &__item{
        width: 140px;

    }
    &__item img{
        width: 140px;
        height: 80px;
    }
}
.tittle {
     text-align: center;
      font-family: "Bitter" ;
       text-shadow: 1px 1px 1px black ;
    color: var(--orange-color);
    padding: 50px 0px 0px 0px;
    line-height: 1.2;
    font-size: 36px;
    margin-bottom: 100px;
}

.item {
}
// -------prices---------
.prices-waching {
    padding-top: 90px;
    padding-bottom: 90px;
    &__container{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__description{
        margin: 0 auto;
        font-size: 18px;
        color: var(--black);
        line-height: 1.3;
    }

}
.prices {
    

	&__tittle {
           
        font-size: 32px;
        max-width: 700px;
        color: var(--main-blue-color);
        margin-bottom: 40px;
        text-shadow: 0px 2px 2px black;

		}
    &__tittle.dry{
        color: var(--orange-color);
    }
    &__text.dry{
        color: var(--main-blue-color);
    }

		&__text {
            font-size: 18px;
            font-weight: 600;
            color: var(--orange-color);
            margin-bottom: 30px;
            text-decoration: underline;
        }
        &__text span{
            text-transform: uppercase;
            color: rgb(239, 21, 21);
            font-weight: 700;
        }

		&__list {
            width: 550px;
            height: auto;
            border-radius: 10px;
            background-color: var(--main-blue-color);
            padding: 20px;
            box-shadow: 2px 7px 14px 3px rgba(0,0,0,0.59);
		}
        &__item + &__item{
            margin-top: 20px;
        }
        &__item:nth-child(2n){
            background-color: var(--orange-color);
        }
		&__item {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            font-size: 16px;
		}

		&__name {
		}

		&__amount {
		}
}
.wrapper__second{
    margin-bottom: 80px;
}

// ------------company--------------

.company {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--main-blue-color);

		&__tittle {
            font-size: 28px;
            color: var(--orange-color);
            text-shadow: 0px 1px 1px white;
            margin-bottom: 40px;
		}
        &__left{
           
           
       
        }

		&__text {
          padding: 50px 20px 20px;
          font-size: 18px;
          line-height: 1.9;
          color: var(--white);
        }

		&__description {
            padding: 20px;
             font-size: 18px;
          line-height: 1.4;
          color: var(--white);
		}
    &__content{
        display: flex;
        gap: 40px;
    }
    &__img{
        display: block;
        border-radius: 5px;
         border-radius: 15% 50% 20% 0%;
    }
}

// gallery
.gallery{
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: linear-gradient(to right, rgba(247, 249, 250, 0.3), rgba(20, 146, 224, 0.3)),;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: top;
    

    &__title{
      font-size: 24px;
      color: black;
      text-align: center;
      margin-bottom: 40px;
      text-shadow: 1px 1px 1px white;

    }
  }
// карта и другое 
.location{
  padding-top: 90px;
  padding-bottom: 90px ;
  &__tittle{

      font-size: 24px;
      color: rgb(18, 14, 103);
      text-align: center;
      margin-bottom: 40px;
      text-shadow: 1px 1px 1px white;

  }
  &__map{
    display: block;
    margin: 0 auto;
    border: 2px solid grey;

  }
}

 .swiper {
        width: 400px;
        height: 400px;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }


// footer
.footer > .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}
.footer{
  background-color: var(--orange-color);
  
  padding: 30px 0px;
  &__tel{
     font-size: 36px;
     font-weight: 700;
  
    
  }
  .menu__link.footer{
    padding: 38px 0px;
  }
}

//             modal

.backdrop{
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility:visible;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(1.1);

}

.modal{
    
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    
    padding: 40px;
    background-color: var(--orange-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    
    

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    @include mq(mobile){
        width: 450px;
        min-height: 609px;

    }
    @include mq(desktop){
        width: 528px;
        min-height: 450px;
        
    }
}

.button-close{

    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius:50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.close-button{
    transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover .close-button,
.button-close:focus .close-button{
    fill: var(--main-color-hover);
}

/* --------form-modal */

.form-text{
    color: var(--main-color-tittle);

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;


}
.input-wrap{
    display: block;
    margin-bottom: 10px;
}
.name{
    display: block;
    margin-bottom: 4px;
}
.input-group{
    position: relative;
}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: 1px solid transparent;
    outline-offset: -1px;

   

}
.modal-input:focus{
    outline: 1px solid var(--main-color-hover);


}
.modal-input:focus + .modal-svg{
    fill: #188CE8;
}
.modal-svg{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);


}
/*    ---------textarea-------------- */
.textarea{
    display: block;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    color: var(--main-color-text);
    border-radius: 4px;
    
    

    resize: none;
}
.textarea:focus{
    outline: 1px solid var(--main-color-hover);
}
.textarea::placeholder{

font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.input-wrap.area{
    margin-bottom: 20px;
}

/* ------checkbox */
.input-group{
    position: relative;
}
.input-wrap.check{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checked{
    opacity: 0;
    transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .modal-check .checked{
    opacity: 1;
    fill: var(--main-color-hover);
    
}

.text-check{
    // display: block;
    // text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.71;
    padding-left: 7px;
    user-select: none;

    color:var(--main-color-text);
    @include mq(desktop){
        font-size: 14px;
    }
}
.link-check{
    position: relative;
    color: var(--main-color-hover);
    text-decoration: none;
}
.link-check:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 100%;
    background-color: var(--main-color-hover);
}

/* ------form-button */
.form .button{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 52px;
    min-width: 200px;
    
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.99;

    color:var(--white-color);
    background: var(--main-color-hover) ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.form .button:hover,
.form .button:focus{
    background-color: var(--main-butter-hover);
}
//  кнопка замовити послугу
.order__button{
  min-width: 170px;
  margin: 0 auto;
  height: 60px;
  padding: 15px;
  border-radius: 30px;
  background-color: var(--orange-color);
  text-align: center;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;

 
}